<nb-card>
  <nb-card-body>
    <nb-stepper #stepper linear="true">

      <nb-step [stepControl]="lichessUsernameForm" label="Username and Email">
        <form #lichessUsernameForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter your lichess username"
                   class="form-control"
                   name="lichessUsername"
                   required
                   nbInput
                   ngModel
                   #lichessUsername="ngModel"
                   (ngModelChange)="styleInput(lichessUsername)"
                   [status]="inputStyles.lichessUsername">

            <input type="email"
                   placeholder="Enter your email"
                   class="form-control"
                   name="email"
                   required
                   nbInput
                   ngModel
                   #email="ngModel"
                   (ngModelChange)="styleInput(email)"
                   [status]="inputStyles.email">
          </div>
          <button nbButton nbStepperNext [disabled]="!canGoNext(lichessUsername, email)" (click)="checkForUniqueUsername(lichessUsername)">next</button>

        </form>
      </nb-step>

      <nb-step [stepControl]="codeForm" label="Confirmation code">
        <form #codeForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="number"
                   placeholder="Enter the confirmation code you just received on lichess (from 'lamine2000')"
                   class="form-control"
                   name="code"
                   required
                   nbInput
                   ngModel
                   (ngModelChange)="styleInput(code)"
                   #code="ngModel"
                   [status]="inputStyles.code">
            <p class="redText" *ngIf="getState1(code.value)">The confirmation code is now invalid !</p>
            <p class="redText" *ngIf="getState2(code.value)">Wrong code !</p>
          </div>
          <button nbButton  status="info" (click)="sendConfirmationCode(this.username)">resend code</button>
          <button nbButton nbStepperNext [disabled]="!canGoNext(code)">next</button>
          <button nbButton nbStepperPrevious>previous</button>

        </form>
      </nb-step>


      <nb-step [stepControl]="passwordForm" label="Password">
        <form #passwordForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="password"
                   placeholder="Create a password"
                   class="form-control"
                   name="password"
                   required
                   nbInput
                   ngModel
                   (ngModelChange)="setPasswordField(password); styleInput(confirmPassword)"
                   #password="ngModel"
                   status = "{{inputStyles.password}}">

            <input type="password"
                   placeholder="Confirm Password"
                   class="form-control"
                   name="confirmPassword"
                   required
                   nbInput
                   ngModel
                   (ngModelChange)="styleInput(confirmPassword)"
                   #confirmPassword="ngModel"
                   [status]="inputStyles.confirmPassword">
          </div>

          <button nbButton
                  nbStepperNext
                  (click)="storeUserData(email.value, password.value)"
                  [disabled]="!canGoNext(password, confirmPassword)">Validate</button>
        </form>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>
